@font-face {
    font-family: 'ARLETA';
    src: url('arleta.woff') format('woff');
}
@font-face {
    font-family: 'yi-baiti'; 
    src: url('msyi.woff') format('woff');
}

@font-face {
    font-family: 'Sinera'; 
    src: url('Sinera.woff') format('woff');
}


body {
	margin: 0;
	padding: 40px 30px;
	height: 100vh;
	color: #5f6147;
	background-color: #f0debb;
	font-family: "ARLETA", Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}


header {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header__button {
	z-index: 2;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #5f6147;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -18px;
	margin: 20px;
	outline: none;
	animation-duration: 300ms;
	animation-timing-function: ease;
}

.header__button[data-open="true"] {
	background-color: #f0debb;
	animation-name: scale;
}

.header__button[data-open="false"] {
	transition: background-color 250ms linear;
}

@keyframes scale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(100%);
	}
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
    text-align: center;
    font-family: 'Sinera', sans-serif; /* Remplacez par la police désirée */
    font-size: 5vh; /* Optionnel : ajuster la taille */
}

.header__nav {
	background-color: #5f6147;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	visibility: hidden;
	clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
	visibility: visible;
}

.header__menu {
	padding: 0;
	margin: 0;
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Positionne chaque élément verticalement */
    justify-content: center; /* Centre tous les éléments verticalement */
    align-items: center; /* Centre tous les éléments horizontalement */
    height: 100%; /* S'assurer qu'il couvre tout l'écran */
    list-style: none;
}

.header__menu > .header__menu-item {
	font-size: 10vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
	margin-bottom: 0em;
}

.header__menu-item a {
	letter-spacing: -4px;
	font-weight: 300 !important;
	text-decoration: none;
    pointer-events: none; /* Désactive les clics */
    color: #000; /* Conserve la couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
    cursor: default; /* Indique que ce n'est pas cliquable */
}

.custom-font {
    font-family: 'Sinera', sans-serif; /* Remplacez par la police désirée */
    font-weight: bold; /* Optionnel : modifier l'épaisseur */
    font-size: 8vh; /* Optionnel : ajuster la taille */
}

h4 {
    font-size: 2rem;
	font-weight: normal;
	position: absolute;
	top: 2%;
	left: 91%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}

.magne {
    font-size: 2rem;
	font-weight: normal;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-family: "yi-baiti";
}

.info {
    font-size: 3rem;
	font-weight: normal;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
    text-align: center;
    font-family: 'yi-baiti', sans-serif; /* Remplacez par la police désirée */
    font-size: 5vh; /* Optionnel : ajuster la taille */
}


.contact {
		font-weight: normal;
		position: absolute;
		top: 30%;
		left: 40%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		text-align: center;
		font-family: 'yi-baiti', sans-serif; /* Remplacez par la police désirée */
		font-size: 2.5vh; /* Optionnel : ajuster la taille */
		padding: 40px 20px;
		color:#5f6147;
}



@media (max-width: 768px) {
    body {
        font-family: 'yi-baiti', sans-serif;
        font-size: 1.2rem;
        line-height: 1.5;
        padding: 20px 15px;
    }

    h1 {
        font-size: 4vh;
        top: 5%; /* Ajusté pour anticiper l'encombrement */
        text-align: center;
        line-height: 1.2; /* Pour une gestion fluide du passage sur deux lignes */
    }

    .magne {
        top: calc(3% + 6em); /* Dynamique selon la hauteur de h1 */
        font-size: 2.5vh;
		top: 9%;
    }


    .info {
        font-size: 3vh;
        top: 65%;
    }

    h4 {
        font-size: 1.8vh;
        left: 85%;
        top: 3%;
    }

    .header__menu > .header__menu-item {
        font-size: 5vh;
    }

	.header__menu-item  {
		font-family: 'ARLETA', sans-serif; /* Remplacez par la police désirée */
		font-weight: bold; /* Optionnel : modifier l'épaisseur */
		font-size: 8vh; /* Optionnel : ajuster la taille */
	}

	.custom-font {
		font-family: 'Sinera', sans-serif; /* Remplacez par la police désirée */
		font-weight: bold; /* Optionnel : modifier l'épaisseur */
		font-size: 8vh; /* Optionnel : ajuster la taille */
	}


    .custom-font {
        font-size: 6vh;
    }
.custom-image {
		position: relative; /* Positionne l'image relativement à son parent */
		max-width: 80%; /* Réduit la taille de l'image à 80% de la largeur du conteneur */
		height: auto; /* Maintient le ratio de l'image */
		margin: 20px auto; /* Centre l'image horizontalement avec des marges */
		border-radius: 10px; /* Coins arrondis */
	}


	.contact {
		font-weight: normal;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		text-align: center;
		font-family: 'yi-baiti', sans-serif; /* Remplacez par la police désirée */
		font-size: 2.5vh; /* Optionnel : ajuster la taille */
		padding: 40px 20px;
}




}

@media (max-width: 606px) {
    body {

	.magne {
		top: calc(3% + 6em); /* Dynamique selon la hauteur de h1 */
		font-size: 2.5vh;
		top: 12%;
	}




	.contact {
		font-weight: normal;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		text-align: center;
		font-family: 'yi-baiti', sans-serif; /* Remplacez par la police désirée */
		font-size: 2.5vh; /* Optionnel : ajuster la taille */
		padding: 40px 20px;
	}
}



}
